<h1 {{action "wasClicked" "Heading"}}>{{appName}}</h1>
<p/>
Our restaurant is {{restaurant.name}}. We've been open for {{restaurant.yearsOpen}} year(s).
<p id="explanation">Menu Tracker helps you see what dishes are available today.</p>
<button {{action "wasClicked" "Button"}}>Click me!</button>
<p/>
<ul>
  {{#each foods as |food|}}
    {{#if food.isAvailable}}
      <li>{{food.name}}!</li>
    {{else}}
      <li class="not-available">{{food.name}}</li>
    {{/if}}

  {{/each}}
</ul>
